<main id="users" class="mdl-layout__content">
	<div class="page-content">

		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-cell--6-col-phone">
				<table class="mdl-data-table mdl-js-data-table">
				<thead>
					<tr>
						<th class="mdl-data-table__cell--non-numeric">Name</th>
						<th class="mdl-data-table__cell--non-numeric">Last name</th>
						<th class="mdl-data-table__cell--non-numeric">Country</th>
						<th class="mdl-data-table__cell--non-numeric">City</th>
						<th class="mdl-data-table__cell--non-numeric">Zip</th>
						<th class="mdl-data-table__cell--non-numeric">Phone</th>
						<th class="mdl-data-table__cell--non-numeric">email</th>
						<th class="mdl-data-table__cell--non-numeric">Edit</th>
						<th class="mdl-data-table__cell--non-numeric">Delete</th>

					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="user in vm.allUsers.contacts" id="{{user.id}}" ng-show="true">
						<td class="mdl-data-table__cell--non-numeric">{{user.first_name}}</td>
						<td class="mdl-data-table__cell--non-numeric">{{user.last_name}}</td>
						<td class="mdl-data-table__cell--non-numeric">{{user.country}}</td>
						<td class="mdl-data-table__cell--non-numeric">{{user.city}}</td>
						<td class="mdl-data-table__cell--non-numeric">{{user.zip}}</td>
						<td class="mdl-data-table__cell--non-numeric">{{user.phones}}</td>
						<td class="mdl-data-table__cell--non-numeric">{{user.emails}}</td>
						<td class="mdl-data-table__cell--non-numeric"><button class="mdl-button mdl-js-button mdl-button--primary" ng-click="vm.editContact(user.id)">
							Edit
						</button></td>
						<td class="mdl-data-table__cell--non-numeric"><button class="mdl-button mdl-js-button mdl-button--accent" ng-click="vm.deleteContact(user.id)">
							Delete
						</button></td>
					</tr>
				</tbody>
			</table>
			</div>
			<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-cell--6-col-phone flex-center">
			<button ng-click="vm.toggle=!vm.toggle" class="margin-24 mdl-button mdl-js-button mdl-button--raised mdl-button--colored">add</button>

			<article ng-show="vm.toggle" class="mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--6-col-phone">

			<form ng-submit="vm.putContacts()" novalidate name="userForm">
				<div class="mdl-textfield mdl-js-textfield">
					<input class="mdl-textfield__input" 
					id="input1"
					type="text" 
					ng-maxlength="40"
					pattern="[a-zA-Z]+" 
					ng-model="vm.user.first_name"
					ng-required="true"
					>
					<label class="mdl-textfield__label" for="input1">First name</label>
				</div>
				<div class="mdl-textfield mdl-js-textfield">

					<input class="mdl-textfield__input" 
					id="input2"
					type="text" 
					ng-maxlength="40"
					pattern="[a-zA-Z]+" 
					ng-model="vm.user.last_name"
					>
					<label class="mdl-textfield__label" for="input2">Last name</label>
				</div>
				<div class="mdl-textfield mdl-js-textfield">
					<input class="mdl-textfield__input"
					id="input3" 
					type="text" 
					ng-maxlength="40"
					pattern="[a-zA-Z]+" 
					ng-model="vm.user.city" 
					>
					<label class="mdl-textfield__label" for="input3">City</label>
				</div>
				<div class="mdl-textfield mdl-js-textfield">
					<input class="mdl-textfield__input" 
					id="input4"
					type="text" 
					ng-maxlength="40"
					pattern="[a-zA-Z]+" 
					ng-model="vm.user.country" 
					>
					<label class="mdl-textfield__label" for="input4">Country</label>
				</div>
				<div class="mdl-textfield mdl-js-textfield">
					<input class="mdl-textfield__input" 
					id="input5"
					type="number" 
					ng-maxlength="40"
					ng-model="vm.user.zip" 
					min="0"
					>
					<label class="mdl-textfield__label" for="input5">Zip<label>
				</div>
				<div class="mdl-textfield mdl-js-textfield">
					<input class="mdl-textfield__input" 
					id="input6"
					type="email" 
					ng-model="vm.user.emails" 
					>
					<label class="mdl-textfield__label" for="input6">email</label>
				</div>
				<div class="mdl-textfield mdl-js-textfield">
					<input class="mdl-textfield__input" 
					id="input7"
					type="number" 
					ng-model="vm.user.phone" 
					ng-maxlength="12" 
					min="0"
					>
					<label class="mdl-textfield__label" for="input7">number</label>
				</div>

				<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" ng-disabled="userForm.$invalid"
				>Edit profile</button>

			</form>
			</article>
				
			</div>
		


			
			
		</div>
	</div>
</main>